<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"/>
        <!-- Login activities -->
        <!-- Login -->
        <activity
            android:name=".account.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".account.RegisterActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".account.ForgotPasswordActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- Main menu activities -->
        <activity
            android:name=".MainMenuActivity"
            android:label="Menu Główne" /> <!-- Categories -->
        <activity
            android:name=".categories.HoteleActivity"
            android:label="Nocleg" />
        <activity
            android:name=".categories.RelaksActivity"
            android:label="Relaks"/>
        <activity
            android:name=".categories.RestauracjeActivity"
            android:label="Gastronomia" />
        <activity
            android:name=".categories.AtrakcjeActivity"
            android:label="Atrakcje" /> <!-- Facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="Logowanie do Travisto" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".ItemDetailsActivity"
            android:label=""/>
        <activity
            android:name=".RateThePlaceActivity"
            android:label="" />
        <activity
            android:name=".ShowCommentsActivity"
            android:label="" />
        <activity
            android:name=".drawermenu.aboutme"
            android:label="" />
        <activity android:name=".drawermenu.Contact"
            android:label=""/>
        <activity
            android:name=".categories.HospitalActivity"
            android:label="Punkty Medyczne"/>
        <activity
            android:name=".categories.UniverseActivity"
            android:label="Uniwersytety"/>
        <activity android:name=".test.TestActivity" />
    </application>

</manifest>